#u872
{
	background-color: #1A1A1A;
}

#u4653
{
	background-color: #FFFFFF;
}

#u886-6
{
	font-family: bitter, serif;
	line-height: 22px;
	font-weight: 700;
	background-color: transparent;
}

#u886-2
{
	color: #232323;
}

#u889,#u890,#u891
{
	background-color: transparent;
	color: #6F95A5;
	border-width: 0px;
	font-size: 40px;
	line-height: 48px;
	border-color: transparent;
}

#u887-6,#u888-4
{
	font-family: bitter, serif;
	background-color: transparent;
	line-height: 22px;
	font-weight: 700;
	color: #232323;
}

#u835
{
	background-color: #6F95A5;
}

.MenuItem
{
	cursor: pointer;
}

#buttonu892
{
	border-width: 2px;
	border-radius: 100px;
	transition-duration: 0s;
	transition-delay: 0s;
	background-color: transparent;
	-webkit-transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-color: #FFFFFF;
	-webkit-transition-duration: 0s;
}

#buttonu892:hover
{
	-webkit-transition-duration: 1s;
	background-color: #FFFFFF;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-webkit-opacity: 0.9999;/* for chrome transition bug */
}

#buttonu892.ButtonSelected
{
	-webkit-transition-duration: 0s;
	background-color: transparent;
	transition-duration: 0s;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-webkit-opacity: 0.9999;/* for chrome transition bug */
}

#u893-4
{
	font-family: bitter, serif;
	line-height: 18px;
	color: #FFFFFF;
	text-align: center;
	font-weight: 700;
	background-color: transparent;
	font-size: 15px;
	letter-spacing: 0px;
}

#buttonu892:hover #u893-4 p
{
	color: #6F95A5;
	visibility: inherit;
}

#buttonu892.ButtonSelected #u893-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3754
{
	background-color: #F5F5F5;
}

#u894,#u3814
{
	background-color: transparent;
}

#u3613-4,#u3631-4,#u3767-6
{
	font-family: bitter, serif;
	color: #909090;
	line-height: 23px;
	text-align: left;
	font-weight: 400;
	background-color: transparent;
	font-size: 15px;
}

#u3778-4
{
	font-family: bitter, serif;
	color: #6F95A5;
	line-height: 23px;
	text-align: left;
	font-weight: 700;
	background-color: transparent;
	font-size: 15px;
}

#u3634-4,#u3622-4
{
	font-family: bitter, serif;
	line-height: 22px;
	color: #232323;
	text-align: left;
	font-weight: 700;
	background-color: transparent;
	font-size: 18px;
	letter-spacing: 0px;
}

#u3757,#u3762,#u3781,#u3786
{
	background-color: transparent;
	color: #6F95A5;
	text-align: left;
	border-width: 0px;
	font-size: 18px;
	line-height: 22px;
	border-color: transparent;
}

#u3619-8
{
	line-height: 23px;
	background-color: transparent;
	font-size: 15px;
	text-align: left;
}

#u3619-2,#u3619-4
{
	font-family: bitter, serif;
	color: #909090;
	font-weight: 400;
}

#u3619-6
{
	font-family: bitter, serif;
	color: #6F95A5;
	font-weight: 700;
}

#u1108
{
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
}

#u3649
{
	background-color: #1A1A1A;
	border-width: 0px;
	border-color: transparent;
}

#u3652-6
{
	font-family: bitter, serif;
	background-color: transparent;
	line-height: 18px;
	font-weight: 400;
	color: #FFFFFF;
	font-size: 15px;
}

#u886-4,#u3652-2
{
	color: #6F95A5;
}

#buttonu881,#buttonu883,#buttonu879,#buttonu877,#buttonu873,#buttonu875,#buttonu3663,#buttonu3665,#buttonu3661,#buttonu3659,#buttonu3655,#buttonu3657
{
	border-width: 1px;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	background-color: #232323;
	-webkit-transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-color: #0F0F0F;
	-webkit-transition-duration: 1s;
	transition-timing-function: ease;
	transition-delay: 0s;
	border-radius: 1px;
	border-style: solid;
}

#buttonu881:hover,#buttonu883:hover,#buttonu879:hover,#buttonu877:hover,#buttonu873:hover,#buttonu875:hover,#buttonu3663:hover,#buttonu3665:hover,#buttonu3661:hover,#buttonu3659:hover,#buttonu3655:hover,#buttonu3657:hover
{
	background-color: #545454;
}

#buttonu881.ButtonSelected,#buttonu883.ButtonSelected,#buttonu879.ButtonSelected,#buttonu877.ButtonSelected,#buttonu873.ButtonSelected,#buttonu875.ButtonSelected,#buttonu3663.ButtonSelected,#buttonu3665.ButtonSelected,#buttonu3661.ButtonSelected,#buttonu3659.ButtonSelected,#buttonu3655.ButtonSelected,#buttonu3657.ButtonSelected
{
	background-color: #232323;
}

#u882,#u884,#u880,#u878,#u874,#u876,#u3664,#u3666,#u3662,#u3660,#u3656,#u3658
{
	background-color: transparent;
	color: #909090;
	text-align: center;
	border-width: 0px;
	font-size: 14px;
	line-height: 17px;
	border-color: transparent;
}

@media (min-width: 993px)
{
	#u885-5
	{
		background-color: transparent;
		color: #6F95A5;
		font-size: 13px;
		line-height: 16px;
		font-family: bitter, serif;
		font-weight: 700;
	}

	#u885-2
	{
		color: #FFFFFF;
	}

	#u889,#u890,#u891
	{
		text-align: left;
	}

	#u886-6,#u887-6,#u888-4
	{
		font-size: 14px;
	}

	#menuu836
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u859
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u859:hover
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
		-pie-background: rgba(255,255,255,0.1);
	}

	#u859.MuseMenuActive
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
		-pie-background: rgba(255,255,255,0.1);
	}

	#u862-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 16px;
		color: #FFFFFF;
		font-size: 13px;
		text-align: center;
		font-family: bitter, serif;
		font-weight: 700;
	}

	#u840
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u840:hover
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
		-pie-background: rgba(255,255,255,0.1);
	}

	#u840.MuseMenuActive
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
		-pie-background: rgba(255,255,255,0.1);
	}

	#u841-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 16px;
		color: #FFFFFF;
		font-size: 13px;
		text-align: center;
		font-family: bitter, serif;
		font-weight: 700;
	}

	#u847
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u847:hover
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
		-pie-background: rgba(255,255,255,0.1);
	}

	#u847.MuseMenuActive
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
		-pie-background: rgba(255,255,255,0.1);
	}

	#u848-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 16px;
		color: #FFFFFF;
		font-size: 13px;
		text-align: center;
		font-family: bitter, serif;
		font-weight: 700;
	}

	#u868
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u868:hover
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
		-pie-background: rgba(255,255,255,0.1);
	}

	#u868.MuseMenuActive
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
		-pie-background: rgba(255,255,255,0.1);
	}

	#u871-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 16px;
		color: #FFFFFF;
		font-size: 13px;
		text-align: center;
		font-family: bitter, serif;
		font-weight: 700;
	}

	#u858,#u837,#u844,#u865,#u851
	{
		background-color: transparent;
	}

	#u852
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u852:hover
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
		-pie-background: rgba(255,255,255,0.1);
	}

	#u852.MuseMenuActive
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
		-pie-background: rgba(255,255,255,0.1);
	}

	#u855-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 16px;
		color: #FFFFFF;
		font-size: 13px;
		text-align: center;
		font-family: bitter, serif;
		font-weight: 700;
	}

	#u859.MuseMenuActive #u862-4 p,#u840.MuseMenuActive #u841-4 p,#u847.MuseMenuActive #u848-4 p,#u868.MuseMenuActive #u871-4 p,#u852.MuseMenuActive #u855-4 p
	{
		font-family: bitter, serif;
		font-weight: 700;
		font-style: normal;
	}

	#u872_align_to_page,#u4653_align_to_page,#u3754_align_to_page,#u3649_align_to_page
	{
		max-width: 1200px;
	}

}

@media (max-width: 992px)
{
	#u5511-3
	{
		border-color: #FFFFFF;
		color: #999999;
		line-height: 14px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
		background: transparent url("../images/menu_open.png") no-repeat left center;
	}

	#u5511-3:active
	{
		background: transparent url("../images/menu_open.png") no-repeat left center;
	}

	#u5511-3.AccordionPanelTabOpen
	{
		background: transparent url("../images/menu_close.png") no-repeat left center;
	}

	#u5467
	{
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: #FFFFFF;
	}

	#accordionu5465,#menuu5468
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u5500
	{
		border-style: solid;
		border-color: #1A1A1A;
		background-color: #232323;
		border-width: 0px 0px 1px;
	}

	#u5500:hover
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #6F95A5;
	}

	#u5501-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: bitter, serif;
		font-weight: 700;
	}

	#u5500.MuseMenuActive #u5501-4 p,#u5500.MuseMenuActive #u5501-4 span
	{
		color: #FFFFFF;
		visibility: inherit;
		font-family: bitter, serif;
		font-weight: 700;
		font-style: normal;
	}

	#u5472
	{
		border-style: solid;
		border-color: #1A1A1A;
		background-color: #232323;
		border-width: 0px 0px 1px;
	}

	#u5500.MuseMenuActive,#u5472:hover
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #6F95A5;
	}

	#u5473-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: bitter, serif;
		font-weight: 700;
	}

	#u5479
	{
		border-style: solid;
		border-color: #1A1A1A;
		background-color: #232323;
		border-width: 0px 0px 1px;
	}

	#u5472.MuseMenuActive,#u5479:hover
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #6F95A5;
	}

	#u5481-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: bitter, serif;
		font-weight: 700;
	}

	#u5491
	{
		border-style: solid;
		border-color: #1A1A1A;
		background-color: #232323;
		border-width: 0px 0px 1px;
	}

	#u5479.MuseMenuActive,#u5491:hover
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #6F95A5;
	}

	#u5493-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: bitter, serif;
		font-weight: 700;
	}

	#u5466,#u5497,#u5469,#u5476,#u5490,#u5504
	{
		background-color: transparent;
	}

	#u5507
	{
		border-style: solid;
		border-color: #1A1A1A;
		background-color: #232323;
		border-width: 0px 0px 1px;
	}

	#u5491.MuseMenuActive,#u5507:hover
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #6F95A5;
	}

	#u5507.MuseMenuActive
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #6F95A5;
	}

	#u5508-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: bitter, serif;
		font-weight: 700;
	}

	#u5472.MuseMenuActive #u5473-4 p,#u5472.MuseMenuActive #u5473-4 span,#u5479.MuseMenuActive #u5481-4 p,#u5479.MuseMenuActive #u5481-4 span,#u5491.MuseMenuActive #u5493-4 p,#u5491.MuseMenuActive #u5493-4 span,#u5507.MuseMenuActive #u5508-4 p,#u5507.MuseMenuActive #u5508-4 span
	{
		font-size: 13px;
		font-family: raleway, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#u872_align_to_page,#u4653_align_to_page,#u3754_align_to_page,#u3649_align_to_page
	{
		max-width: 992px;
	}

	#u889,#u886-6,#u890,#u887-6,#u891,#u888-4,#u3652-6
	{
		text-align: center;
	}

}

