/*
 *  Usage:
 *
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
 *
 */
.sk-three-bounce {
  margin: 40px auto;
  width: 80px;
  text-align: center; }
  .sk-three-bounce .sk-child {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }
  .sk-three-bounce .sk-bounce1 {
    animation-delay: -0.32s; }
  .sk-three-bounce .sk-bounce2 {
    animation-delay: -0.16s; }

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    transform: scale(0); }
  40% {
    transform: scale(1); } }

/*#region Mixins */
.previewZoom {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9); }

/*#region Initial */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #82848f;
  font-size: 14px;
  line-height: 1;
  font-family: 'Maison Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #f7f7f7; }

a {
  text-decoration: none;
  color: #323032;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  outline: none; }
  a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    color: #181718; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #323032;
  font-weight: 400; }

p {
  line-height: 1.4;
  color: #82848f;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  padding-top: 0px !important; }

label {
  margin: 0; }

.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 35px 0 35px;
  background-color: #50b8e7;
  border: none;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: none !important;
  outline: 0 !important;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .btn:hover, .btn:focus, .btn:active {
    color: #ffffff;
    background-color: #3aafe4;
    text-decoration: none;
    outline: 0 !important; }
  .btn.small {
    height: 36px;
    padding-top: 10px;
    font-size: 14px; }
  .btn.big {
    height: 56px;
    padding-top: 19px;
    font-size: 16px; }
    .btn.big.fs14 {
      font-size: 14px;
      padding-top: 20px; }
  .btn.fw400 {
    font-weight: 400; }
  .btn.wide {
    padding-left: 135px;
    padding-right: 135px; }
    @media (max-width: 767px) {
      .btn.wide {
        padding-left: 50px;
        padding-right: 50px; } }
  .btn.i span {
    display: inline-block;
    vertical-align: middle; }
  .btn.i i {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px; }
  .btn.i-right span {
    display: inline-block;
    vertical-align: middle; }
  .btn.i-right i {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    margin-top: 0px; }
  .btn.lc {
    text-transform: none !important; }
  .btn.round {
    width: 40px;
    text-align: center;
    padding: 11px 0 0 0; }
    .btn.round.small {
      padding: 10px 0 0 0;
      width: 36px;
      height: 36px; }
  .btn.block {
    display: block;
    width: 100%; }
  .btn.green {
    background-color: #70c250;
    color: #ffffff !important; }
    .btn.green:hover, .btn.green:focus, .btn.green:active {
      background-color: #62b840;
      color: #ffffff !important; }
  .btn.red {
    background-color: #f65f6e;
    color: #ffffff !important; }
    .btn.red:hover, .btn.red:focus, .btn.red:active {
      background-color: #f54758;
      color: #ffffff !important; }
  .btn.gray {
    background-color: #f7f7f7;
    color: #82848f !important;
    border: 1px solid #eaeaea; }
    .btn.gray:hover, .btn.gray:focus, .btn.gray:active {
      background-color: #f2f2f2;
      color: #323032 !important;
      border: 1px solid #e5e5e5; }
  .btn.white {
    background-color: #ffffff;
    color: #82848f !important;
    border: 1px solid #eaeaea; }
    .btn.white:hover, .btn.white:focus, .btn.white:active {
      color: #323032 !important;
      border: 1px solid #d1d1d1; }
  .btn.blue-dark {
    background-color: #2283f6;
    color: #ffffff !important;
    box-shadow: 5px 8.7px 20px rgba(86, 86, 86, 0.5) !important; }
    .btn.blue-dark:hover, .btn.blue-dark:focus, .btn.blue-dark:active {
      background-color: #0a75f5;
      color: #ffffff !important;
      box-shadow: 5px 8.7px 20px rgba(86, 86, 86, 0.7) !important; }
  .btn.white-transparent {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #ffffff !important;
    border: 2px solid rgba(255, 255, 255, 0.3) !important; }
    .btn.white-transparent:hover, .btn.white-transparent:focus, .btn.white-transparent:active {
      background-color: rgba(255, 255, 255, 0.15) !important;
      color: #ffffff !important;
      border: 2px solid rgba(255, 255, 255, 0.7) !important; }
  .btn.transparent {
    background-color: transparent;
    color: #50b8e7 !important;
    border: 1px solid transparent; }
    .btn.transparent:hover, .btn.transparent:focus, .btn.transparent:active {
      color: #23a6e1 !important; }

.vcard-template .PopUps {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 48, 50, 0.85);
  display: none;
  z-index: 999998; }
  .vcard-template .PopUps.active {
    display: block; }

.vcard-template [popup] {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -300px;
  width: 600px;
  background-color: #ffffff;
  border-radius: 2px;
  z-index: 999999; }
  @media (max-width: 549px) {
    .vcard-template [popup] {
      width: 96%;
      left: 2%;
      margin-left: 0px; } }
  @media (min-width: 550px) and (max-width: 767px) {
    .vcard-template [popup] {
      width: 530px;
      left: 50%;
      margin-left: -265px; } }
  .vcard-template [popup].active {
    display: block; }
  .vcard-template [popup] > [close-popup] {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #323032;
    font-size: 12px;
    opacity: 0.4; }
    .vcard-template [popup] > [close-popup]:hover {
      opacity: 1; }
  .vcard-template [popup].style1 {
    text-align: center;
    padding: 60px 120px;
    min-height: 400px; }
    .vcard-template [popup].style1.info a {
      cursor: pointer;
      color: #5ab7e5;
      font-weight: 400; }
    @media (max-width: 767px) {
      .vcard-template [popup].style1 {
        padding: 30px 20px 20px 20px;
        min-height: 330px; } }
    .vcard-template [popup].style1 .header-icon {
      font-size: 48px;
      color: #50b8e7; }
    .vcard-template [popup].style1 h3 {
      font-size: 18px;
      font-weight: 600;
      margin: 15px 0 10px 0; }
    .vcard-template [popup].style1 p {
      padding-bottom: 25px; }
    .vcard-template [popup].style1 .btn {
      position: relative;
      margin-bottom: 10px;
      text-transform: capitalize; }
      .vcard-template [popup].style1 .btn:last-child {
        margin-bottom: 0; }
      .vcard-template [popup].style1 .btn i {
        position: absolute;
        top: 20px;
        left: 25px; }
    .vcard-template [popup].style1 input[type="text"], .vcard-template [popup].style1 input[type="email"] {
      text-align: center;
      margin-bottom: 20px; }
  .vcard-template [popup].style2 {
    min-height: 400px; }
    @media (max-width: 767px) {
      .vcard-template [popup].style2 {
        min-height: 330px; } }
    .vcard-template [popup].style2 .crop {
      height: 320px;
      background-color: #000000; }
      .vcard-template [popup].style2 .crop .cropper-container {
        margin: 0 auto; }
    .vcard-template [popup].style2 .footer {
      padding: 20px 30px;
      background-color: #ffffff;
      text-align: right; }
      .vcard-template [popup].style2 .footer .btn {
        margin-right: 10px; }
        .vcard-template [popup].style2 .footer .btn:last-child {
          margin-right: 0px; }

.vcard-template .vcard-body {
  max-width: 480px;
  margin: 0 auto 0 auto;
  padding-bottom: 20px;
  z-index: 50; }
  .vcard-template .vcard-body .vcard-row {
    position: relative;
    padding: 20px 0 20px 65px; }
    .vcard-template .vcard-body .vcard-row i {
      position: absolute;
      top: 25px;
      left: 20px;
      font-size: 20px;
      color: #b3b4bb; }
    .vcard-template .vcard-body .vcard-row h1, .vcard-template .vcard-body .vcard-row h2, .vcard-template .vcard-body .vcard-row h3, .vcard-template .vcard-body .vcard-row h4, .vcard-template .vcard-body .vcard-row h5, .vcard-template .vcard-body .vcard-row h6 {
      line-height: 1.3;
      margin-bottom: 5px;
      color: #323032;
      font-weight: 400; }
    .vcard-template .vcard-body .vcard-row small {
      display: block;
      color: #82848f;
      font-size: 13px; }
    .vcard-template .vcard-body .vcard-row.poweredby {
      top: 90px;
      padding: 0px 0 0px 65px; }
  .vcard-template .vcard-body .vcard-separator {
    height: 1px;
    margin-left: 65px;
    background-color: #eaeaea; }
  .vcard-template .vcard-body .vcard-social {
    position: relative;
    padding: 20px 0 50px 65px;
    font-size: 20px; }
    .vcard-template .vcard-body .vcard-social .icon-wrapper {
      padding: 11px 13px;
      display: inline-block;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      background: black;
      margin: 10px 4px 0px 0px;
      color: white !important;
      float: left;
      line-height: 23px; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.pointer {
        margin: 0px 4px 0px 0px;
        cursor: pointer; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper i {
        top: 2px;
        position: relative; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.facebook {
        background: #4769a6; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.twitter {
        background: #5EA9DD; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.linkedin {
        background: #0074b9; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.instagram {
        background: #01548a; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.xing {
        background: #006464; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.pinterest {
        background: #cb0c11; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.googleplus {
        background: #ea4f39; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.twitter {
        background: #5EA9DD; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.vkontakte {
        background: #3d6390; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.vine {
        background: #00b58a; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.flickr {
        background: #ff0084; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.dribbble {
        background: #EA4C89; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.youtube {
        background: #bb0000; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.tripadvisor {
        background: #589442; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.vimeo {
        background: #aad450; }
      .vcard-template .vcard-body .vcard-social .icon-wrapper.snapchat {
        background: #fffc00; }
    .vcard-template .vcard-body .vcard-social h5 {
      font-size: 14px;
      color: #82848f;
      margin-bottom: 15px; }
    .vcard-template .vcard-body .vcard-social a {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      opacity: 1; }
      .vcard-template .vcard-body .vcard-social a:hover {
        opacity: 0.85; }

.vcard-template.style2 .vcard-header {
  position: relative;
  text-align: center; }
  @media (min-width: 690px) {
    .vcard-template.style2 .vcard-header {
      padding-top: 60px; } }
  @media (min-width: 690px) {
    .vcard-template.style2 .vcard-header .vcard-header-wrapper {
      width: 570px;
      margin: 0 auto;
      box-shadow: 0 -5px 40px 7px rgba(0, 0, 0, 0.08); } }
  .vcard-template.style2 .vcard-header .vcard-top-info {
    max-width: 480px;
    margin: 0 auto 0 auto; }
  .vcard-template.style2 .vcard-header .top {
    padding: 20px 0 20px 0;
    color: #ffffff;
    font-weight: 300;
    opacity: 0.8; }
  .vcard-template.style2 .vcard-header .img {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-position: center center !important;
    background-size: cover !important;
    margin: 10px auto 0 auto; }
  .vcard-template.style2 .vcard-header .name {
    padding: 20px 0 15px 0;
    color: #ffffff;
    font-weight: 400; }
  .vcard-template.style2 .vcard-header .title {
    padding: 0 0 25px 0;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.4;
    max-width: 170px;
    margin: 0 auto;
    opacity: 0.75;
    font-size: 13px; }
  .vcard-template.style2 .vcard-header .add-contact-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 150; }
    @media (min-width: 690px) {
      .vcard-template.style2 .vcard-header .add-contact-wrapper {
        display: none; } }
  .vcard-template.style2 .vcard-header .add-contact-btn {
    cursor: pointer;
    display: block;
    height: 56px;
    width: 56px;
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
    border-radius: 50%;
    color: #ffffff;
    box-shadow: 8px 14px 38px rgba(0, 0, 0, 0.07);
    opacity: 0.9;
    border: 1px solid transparent; }
    .vcard-template.style2 .vcard-header .add-contact-btn i {
      font-size: 30px; }
    .vcard-template.style2 .vcard-header .add-contact-btn:hover {
      box-shadow: 3px 6px 28px rgba(0, 0, 0, 0.2);
      opacity: 1; }
  .vcard-template.style2 .vcard-header .vcard-functions {
    display: block;
    width: 100%;
    text-align: center;
    height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.15); }
    .vcard-template.style2 .vcard-header .vcard-functions .vcard-functions-wrapper {
      display: table;
      margin: 0 auto;
      width: 300px;
      height: 56px;
      text-align: center; }
      @media (min-width: 690px) {
        .vcard-template.style2 .vcard-header .vcard-functions .vcard-functions-wrapper {
          width: 570px; } }
    .vcard-template.style2 .vcard-header .vcard-functions a {
      cursor: pointer;
      display: table-cell;
      color: #ffffff;
      padding: 10px 0;
      min-width: 100px;
      margin: 0;
      border-right: 1px solid rgba(255, 255, 255, 0.15); }
      .vcard-template.style2 .vcard-header .vcard-functions a.last-element {
        border-right: 0px; }
      @media (min-width: 690px) {
        .vcard-template.style2 .vcard-header .vcard-functions a {
          min-width: 190px; } }
      .vcard-template.style2 .vcard-header .vcard-functions a i {
        display: inline-block;
        font-size: 18px;
        margin-bottom: 8px; }
      .vcard-template.style2 .vcard-header .vcard-functions a small {
        display: block;
        text-transform: uppercase;
        font-size: 10px; }
      .vcard-template.style2 .vcard-header .vcard-functions a:hover {
        background-color: rgba(0, 0, 0, 0.1); }

@media (min-width: 690px) {
  .vcard-template.style2 .vcard-body-wrapper {
    width: 570px;
    margin: 0 auto;
    box-shadow: 0 -5px 40px 7px rgba(0, 0, 0, 0.08);
    margin-bottom: 60px; } }

.vcard-template.style2 .vcard-body {
  padding-top: 20px; }
  @media (min-width: 690px) {
    .vcard-template.style2 .vcard-body {
      padding-bottom: 40px; } }
  .vcard-template.style2 .vcard-body .btn.blue-dark {
    display: none;
    margin-top: 20px; }
    @media (min-width: 690px) {
      .vcard-template.style2 .vcard-body .btn.blue-dark {
        display: block; } }

.loading-vcard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
  z-index: 9999998;
  opacity: 1; }
  .loading-vcard.active {
    display: block; }
  .loading-vcard > div {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999999; }
  .loading-vcard .sk-three-bounce {
    margin-left: -25px;
    margin-top: -25px; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

input[type="text"], input[type="password"], input[type="email"], textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  height: 44px;
  width: 100%;
  margin-bottom: 0px;
  background-color: #ffffff;
  border: 2px solid #eaeaea;
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  color: #323032;
  font-weight: 400;
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  line-height: normal !important; }
  input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    font-weight: 400;
    color: rgba(130, 132, 143, 0.5); }
  input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder {
    /* Firefox 18- */
    font-weight: 400;
    color: rgba(130, 132, 143, 0.5); }
  input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="email"]::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 400;
    color: rgba(130, 132, 143, 0.5); }
  input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    font-weight: 400;
    color: rgba(130, 132, 143, 0.5); }
  input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, select:focus {
    box-shadow: none !important;
    border: 2px solid #dddddd; }

@charset "UTF-8";

@font-face {
  font-family: "solution-vcard-icons";
  src:url("fonts/solution-vcard-icons.eot");
  src:url("fonts/solution-vcard-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/solution-vcard-icons.woff") format("woff"),
    url("fonts/solution-vcard-icons.ttf") format("truetype"),
    url("fonts/solution-vcard-icons.svg#solution-vcard-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "solution-vcard-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "solution-vcard-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble:before {
  content: "\61";
}
.icon-vkontakte:before {
  content: "\62";
}
.icon-twitter:before {
  content: "\63";
}
.icon-xing:before {
  content: "\64";
}
.icon-vine:before {
  content: "\65";
}
.icon-pinterest:before {
  content: "\66";
}
.icon-flickr:before {
  content: "\67";
}
.icon-facebook:before {
  content: "\68";
}
.icon-instagram:before {
  content: "\69";
}
.icon-skype:before {
  content: "\6a";
}
.icon-googleplus:before {
  content: "\6b";
}
.icon-linkedin:before {
  content: "\6c";
}
.icon-birthday:before {
  content: "\6e";
}
.icon-underline:before {
  content: "\6f";
}
.icon-phone:before {
  content: "\70";
}
.icon-mail:before {
  content: "\71";
}
.icon-work:before {
  content: "\72";
}
.icon-map-pin:before {
  content: "\73";
}
.icon-earth:before {
  content: "\74";
}
.icon-send:before {
  content: "\75";
}
.icon-add-user:before {
  content: "\76";
}
.icon-close:before {
  content: "\77";
}
.icon-paperfly:before {
  content: "\6d";
}
.icon-download-inbox:before {
  content: "\78";
}
.icon-fax:before {
  content: "\79";
}
.icon-twitter-1:before {
  content: "\7a";
}
.icon-youtube:before {
  content: "\42";
}
.icon-vimeo:before {
  content: "\43";
}
.icon-tripadvisor:before {
  content: "\44";
}
.icon-snapchat:before {
  content: "\41";
}
.icon-share:before {
  content: "\46";
}

/*!
 * Social Share Kit v1.0.7 (http://socialsharekit.com)
 * Copyright 2015 Social Share Kit / Kaspars Sprogis.
 * Licensed under Creative Commons Attribution-NonCommercial 3.0 license:
 * https://github.com/darklow/social-share-kit/blob/master/LICENSE
 * ---
 */@font-face{font-family:'social-share-kit';src:url('./fonts/social-share-kit.eot');src:url('./fonts/social-share-kit.eot?#iefix') format('embedded-opentype'),url('./fonts/social-share-kit.woff') format('woff'),url('./fonts/social-share-kit.ttf') format('truetype'),url('./fonts/social-share-kit.svg#social-share-kit') format('svg');font-weight:normal;font-style:normal}.ssk:before{display:inline-block;font-family:"social-share-kit" !important;font-style:normal !important;font-weight:normal !important;font-variant:normal !important;text-transform:none !important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.ssk-facebook:before{content:"a";text-indent:4px;margin-right:-4px}.ssk-twitter:before{content:"b"}.ssk-google-plus:before{content:"v"}.ssk-google-plus-old:before{content:"c"}.ssk-email:before{content:"d";top:-1px;position:relative}.ssk-pinterest:before{content:"e"}.ssk-tumblr:before{content:"f"}.ssk-linkedin:before{content:"g"}.ssk-github:before{content:"h"}.ssk-vk:before{content:"i"}.ssk-instagram:before{content:"j"}.ssk-amazon:before{content:"k"}.ssk-skype:before{content:"s"}.ssk-youtube:before{content:"x"}.ssk-vimeo:before{content:"u"}.ssk-ebay:before{content:"p"}.ssk-apple:before{content:"l"}.ssk-behance:before{content:"q"}.ssk-dribble:before{content:"n"}.ssk-android:before{content:"o"}.ssk-whatsapp:before{content:"m"}.ssk-reddit:before{content:"r"}.ssk-reddit2:before{content:"t"}.ssk{background-color:#757575;color:white;display:inline-block;font-size:22px;line-height:1px;margin-right:2px;margin-bottom:2px;padding:7px;text-align:center;text-decoration:none;transition:background-color .1s;-webkit-transition:background-color .1s;-moz-transition:background-color .1s;-ms-transition:background-color .1s;-o-transition:background-color .1s}.ssk:before,.ssk .glyphicon,.ssk .fa{position:relative;font-size:22px;top:0;vertical-align:middle}.ssk.ssk-xs,.ssk-xs>.ssk{padding:4px}.ssk.ssk-xs:before,.ssk-xs>.ssk:before,.ssk.ssk-xs .glyphicon,.ssk-xs>.ssk .glyphicon,.ssk.ssk-xs .fa,.ssk-xs>.ssk .fa{font-size:15px}.ssk.ssk-sm,.ssk-sm>.ssk{padding:5px}.ssk.ssk-sm:before,.ssk-sm>.ssk:before,.ssk.ssk-sm .glyphicon,.ssk-sm>.ssk .glyphicon,.ssk.ssk-sm .fa,.ssk-sm>.ssk .fa{font-size:20px}.ssk.ssk-lg,.ssk-lg>.ssk{padding:9px}.ssk.ssk-lg:before,.ssk-lg>.ssk:before,.ssk.ssk-lg .glyphicon,.ssk-lg>.ssk .glyphicon,.ssk.ssk-lg .fa,.ssk-lg>.ssk .fa{font-size:28px}.ssk:last-child{margin-right:0}.ssk:hover{background-color:#424242}.ssk:hover,.ssk:focus{color:#fff;text-decoration:none}.ssk.ssk-round,.ssk-round .ssk{border-radius:50%}.ssk.ssk-round:before,.ssk-round .ssk:before{text-indent:0;margin-right:0}.ssk.ssk-rounded,.ssk-rounded .ssk{border-radius:15%}.ssk.ssk-icon{color:#757575;padding:2px;font-size:24px}.ssk.ssk-icon,.ssk.ssk-icon:hover{background-color:transparent}.ssk.ssk-icon:hover{color:#424242}.ssk.ssk-icon.ssk-xs,.ssk-xs>.ssk.ssk-icon{font-size:16px}.ssk.ssk-icon.ssk-sm,.ssk-sm>.ssk.ssk-icon{font-size:20px}.ssk.ssk-icon.ssk-lg,.ssk-lg>.ssk.ssk-icon{font-size:28px}.ssk.ssk-text{overflow:hidden;font-size:17px;line-height:normal;padding-right:10px}.ssk.ssk-text:before,.ssk.ssk-text .glyphicon,.ssk.ssk-text .fa{margin:-7px 10px -7px -7px;padding:7px;background-color:rgba(0,0,0,0.15);vertical-align:bottom;text-indent:0}.ssk-block .ssk.ssk-text{display:block;margin-right:0;text-align:left}.ssk.ssk-text.ssk-xs,.ssk-xs>.ssk.ssk-text{font-size:12px;padding-right:6px}.ssk.ssk-text.ssk-xs:before,.ssk-xs>.ssk.ssk-text:before,.ssk.ssk-text.ssk-xs .glyphicon,.ssk-xs>.ssk.ssk-text .glyphicon,.ssk.ssk-text.ssk-xs .fa,.ssk-xs>.ssk.ssk-text .fa{margin:-4px 6px -4px -4px;padding:4px}.ssk.ssk-text.ssk-sm,.ssk-sm>.ssk.ssk-text{font-size:16px;padding-right:7px}.ssk.ssk-text.ssk-sm:before,.ssk-sm>.ssk.ssk-text:before,.ssk.ssk-text.ssk-sm .glyphicon,.ssk-sm>.ssk.ssk-text .glyphicon,.ssk.ssk-text.ssk-sm .fa,.ssk-sm>.ssk.ssk-text .fa{margin:-5px 7px -5px -5px;padding:5px}.ssk.ssk-text.ssk-lg,.ssk-lg>.ssk.ssk-text{font-size:22px;padding-right:13px}.ssk.ssk-text.ssk-lg:before,.ssk-lg>.ssk.ssk-text:before,.ssk.ssk-text.ssk-lg .glyphicon,.ssk-lg>.ssk.ssk-text .glyphicon,.ssk.ssk-text.ssk-lg .fa,.ssk-lg>.ssk.ssk-text .fa{margin:-9px 13px -9px -9px;padding:9px}.ssk-group,.ssk-sticky{font-size:0}.ssk-sticky{top:0;position:fixed;z-index:2000}.ssk-sticky .ssk{transition:padding .1s ease-out;-webkit-transition:padding .1s ease-out;-moz-transition:padding .1s ease-out;-ms-transition:padding .1s ease-out;-o-transition:padding .1s ease-out;margin:0}.ssk-sticky.ssk-left .ssk,.ssk-sticky.ssk-right .ssk{display:block;clear:both}.ssk-sticky.ssk-left.ssk-center,.ssk-sticky.ssk-right.ssk-center{top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%)}.ssk-sticky.ssk-left{left:0}.ssk-sticky.ssk-left .ssk{float:left}.ssk-sticky.ssk-left .ssk:hover{padding-left:15px}.ssk-sticky.ssk-right{right:0}.ssk-sticky.ssk-right .ssk{float:right}.ssk-sticky.ssk-right .ssk:hover{padding-right:15px}.ssk-sticky.ssk-bottom{font-size:0;top:auto;bottom:0}.ssk-sticky.ssk-bottom.ssk-center{left:50%;right:auto;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%)}.ssk-sticky.ssk-bottom .ssk{vertical-align:bottom}.ssk-sticky.ssk-bottom .ssk:hover{padding-bottom:15px}.ssk-sticky.ssk-round.ssk-xs .ssk:hover{padding:8px}.ssk-sticky.ssk-round.ssk-sm .ssk:hover{padding:9px}.ssk-sticky.ssk-round .ssk:hover{padding:11px}.ssk-sticky.ssk-round.ssk-lg .ssk:hover{padding:13px}@media (max-width:767px){.ssk-sticky{display:none}}.ssk-count{padding-top:20px}.ssk-count .ssk{position:relative}.ssk-count .ssk-num{border-radius:4px;color:#8f8f8f;background-color:rgba(50,50,50,0.03);display:block;font-size:12px;left:0;line-height:20px;position:absolute;right:0;text-align:center;top:-20px}.ssk-count.ssk-sticky{padding-top:0}.ssk-count.ssk-sticky.ssk-left .ssk-num,.ssk-count.ssk-sticky.ssk-right .ssk-num{top:20%;background-color:transparent}.ssk-count.ssk-sticky.ssk-left .ssk-num{left:100%;margin-left:5px}.ssk-count.ssk-sticky.ssk-right .ssk-num{right:115%;margin-left:-100%;text-align:right}.ssk-facebook{background-color:#255c95}.ssk-grayscale>.ssk-facebook{background-color:#757575}.ssk-facebook:hover{background-color:#1b436c}.ssk-facebook:hover{background-color:#1b436c}.ssk-grayscale>.ssk-facebook:hover{background-color:#255c95}.ssk-facebook.ssk-icon{color:#255c95}.ssk-facebook.ssk-icon:hover{color:#1b436c}.ssk-facebook.ssk-icon:before{text-indent:0;margin-right:0}.ssk-twitter{background-color:#00b4e0}.ssk-grayscale>.ssk-twitter{background-color:#757575}.ssk-twitter:hover{background-color:#008bad}.ssk-twitter:hover{background-color:#008bad}.ssk-grayscale>.ssk-twitter:hover{background-color:#00b4e0}.ssk-twitter.ssk-icon{color:#00b4e0}.ssk-twitter.ssk-icon:hover{color:#008bad}.ssk-google-plus{background-color:#f1403a}.ssk-grayscale>.ssk-google-plus{background-color:#757575}.ssk-google-plus:hover{background-color:#e81810}.ssk-google-plus:hover{background-color:#e81810}.ssk-grayscale>.ssk-google-plus:hover{background-color:#f1403a}.ssk-google-plus.ssk-icon{color:#f1403a}.ssk-google-plus.ssk-icon:hover{color:#e81810}.ssk-pinterest{background-color:#cb2027}.ssk-grayscale>.ssk-pinterest{background-color:#757575}.ssk-pinterest:hover{background-color:#9f191f}.ssk-pinterest:hover{background-color:#9f191f}.ssk-grayscale>.ssk-pinterest:hover{background-color:#cb2027}.ssk-pinterest.ssk-icon{color:#cb2027}.ssk-pinterest.ssk-icon:hover{color:#9f191f}.ssk-tumblr{background-color:#395773}.ssk-grayscale>.ssk-tumblr{background-color:#757575}.ssk-tumblr:hover{background-color:#283d51}.ssk-tumblr:hover{background-color:#283d51}.ssk-grayscale>.ssk-tumblr:hover{background-color:#395773}.ssk-tumblr.ssk-icon{color:#395773}.ssk-tumblr.ssk-icon:hover{color:#283d51}.ssk-email{background-color:#757575}.ssk-grayscale>.ssk-email{background-color:#757575}.ssk-email:hover{background-color:#5b5b5b}.ssk-email:hover{background-color:#5b5b5b}.ssk-grayscale>.ssk-email:hover{background-color:#757575}.ssk-grayscale>.ssk-email:hover{background-color:#5b5b5b}.ssk-email.ssk-icon{color:#757575}.ssk-email.ssk-icon:hover{color:#5b5b5b}.ssk-vk{background-color:#54769a}.ssk-grayscale>.ssk-vk{background-color:#757575}.ssk-vk:hover{background-color:#425d79}.ssk-vk:hover{background-color:#425d79}.ssk-grayscale>.ssk-vk:hover{background-color:#54769a}.ssk-vk.ssk-icon{color:#54769a}.ssk-vk.ssk-icon:hover{color:#425d79}.ssk-linkedin{background-color:#1c87bd}.ssk-grayscale>.ssk-linkedin{background-color:#757575}.ssk-linkedin:hover{background-color:#156791}.ssk-linkedin:hover{background-color:#156791}.ssk-grayscale>.ssk-linkedin:hover{background-color:#1c87bd}.ssk-linkedin.ssk-icon{color:#1c87bd}.ssk-linkedin.ssk-icon:hover{color:#156791}.ssk-whatsapp{background-color:#34AF23}.ssk-grayscale>.ssk-whatsapp{background-color:#757575}.ssk-whatsapp:hover{background-color:#27851a}.ssk-whatsapp:hover{background-color:#27851a}.ssk-grayscale>.ssk-whatsapp:hover{background-color:#34AF23}.ssk-whatsapp.ssk-icon{color:#34AF23}.ssk-whatsapp.ssk-icon:hover{color:#27851a}.ssk-reddit{background-color:#5f99cf}.ssk-grayscale>.ssk-reddit{background-color:#757575}.ssk-reddit:hover{background-color:#3a80c1}.ssk-reddit:hover{background-color:#3a80c1}.ssk-grayscale>.ssk-reddit:hover{background-color:#5f99cf}.ssk-reddit.ssk-icon{color:#5f99cf}.ssk-reddit.ssk-icon:hover{color:#3a80c1}.ssk-reddit2{background-color:#5f99cf}.ssk-grayscale>.ssk-reddit2{background-color:#757575}.ssk-reddit2:hover{background-color:#3a80c1}.ssk-reddit2:hover{background-color:#3a80c1}.ssk-grayscale>.ssk-reddit2:hover{background-color:#5f99cf}.ssk-reddit2.ssk-icon{color:#5f99cf}.ssk-reddit2.ssk-icon:hover{color:#3a80c1}.ssk-turquoise{background-color:#1abc9c}.ssk-turquoise:hover{background-color:#148f77}.ssk-emerald{background-color:#2ecc71}.ssk-emerald:hover{background-color:#25a25a}.ssk-peter-river{background-color:#3498db}.ssk-peter-river:hover{background-color:#217dbb}.ssk-belize-hole{background-color:#2980b9}.ssk-belize-hole:hover{background-color:#20638f}.ssk-amethyst{background-color:#9b59b6}.ssk-amethyst:hover{background-color:#804399}.ssk-wisteria{background-color:#8e44ad}.ssk-wisteria:hover{background-color:#703688}.ssk-wet-asphalt{background-color:#34495e}.ssk-wet-asphalt:hover{background-color:#222f3d}.ssk-midnight-blue{background-color:#2c3e50}.ssk-midnight-blue:hover{background-color:#1a242f}.ssk-green-sea{background-color:#16a085}.ssk-green-sea:hover{background-color:#107360}.ssk-nephritis{background-color:#27ae60}.ssk-nephritis:hover{background-color:#1e8449}.ssk-sunflower{background-color:#f1c40f}.ssk-sunflower:hover{background-color:#c29d0b}.ssk-orange{background-color:#f39c12}.ssk-orange:hover{background-color:#c87f0a}.ssk-carrot{background-color:#e67e22}.ssk-carrot:hover{background-color:#bf6516}.ssk-pumpkin{background-color:#d35400}.ssk-pumpkin:hover{background-color:#a04000}.ssk-alizarin{background-color:#e74c3c}.ssk-alizarin:hover{background-color:#d62c1a}.ssk-pomegranate{background-color:#c0392b}.ssk-pomegranate:hover{background-color:#962d22}.ssk-clouds{background-color:#cfd9db}.ssk-clouds:hover{background-color:#b1c2c6}.ssk-concrete{background-color:#95a5a6}.ssk-concrete:hover{background-color:#798d8f}.ssk-silver{background-color:#bdc3c7}.ssk-silver:hover{background-color:#a1aab0}.ssk-asbestos{background-color:#7f8c8d}.ssk-asbestos:hover{background-color:#667273}.ssk-dark-gray{background-color:#555}.ssk-dark-gray:hover{background-color:#3b3b3b}.ssk-black{background-color:#333}.ssk-black:hover{background-color:#1a1a1a}