html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #82848f;
  font-size: 14px;
  line-height: 1;
  font-style: normal;
  font-weight: 400;
  background: #f7f7f7; }

a {
  text-decoration: none;
  color: #323032;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  outline: none; }
  a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    color: #181718; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #323032;
  font-weight: 400; }

p {
  line-height: 1.4;
  color: #82848f;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  padding-top: 0px !important; }

label {
  margin: 0; }

.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 35px 0 35px;
  background-color: #50b8e7;
  border: none;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: none !important;
  outline: 0 !important;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .btn:hover, .btn:focus, .btn:active {
    color: #ffffff;
    background-color: #3aafe4;
    text-decoration: none;
    outline: 0 !important; }
  .btn.small {
    height: 36px;
    padding-top: 10px;
    font-size: 14px; }
  .btn.big {
    height: 56px;
    padding-top: 19px;
    font-size: 16px; }
    .btn.big.fs14 {
      font-size: 14px;
      padding-top: 20px; }
  .btn.fw400 {
    font-weight: 400; }
  .btn.wide {
    padding-left: 135px;
    padding-right: 135px; }
    @media (max-width: 767px) {
      .btn.wide {
        padding-left: 50px;
        padding-right: 50px; } }
  .btn.i span {
    display: inline-block;
    vertical-align: middle; }
  .btn.i i {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px; }
  .btn.i-right span {
    display: inline-block;
    vertical-align: middle; }
  .btn.i-right i {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    margin-top: 0px; }
  .btn.lc {
    text-transform: none !important; }
  .btn.round {
    width: 40px;
    text-align: center;
    padding: 11px 0 0 0; }
    .btn.round.small {
      padding: 10px 0 0 0;
      width: 36px;
      height: 36px; }
  .btn.block {
    display: block;
    width: 100%; }
  .btn.green {
    background-color: #70c250;
    color: #ffffff !important; }
    .btn.green:hover, .btn.green:focus, .btn.green:active {
      background-color: #62b840;
      color: #ffffff !important; }
  .btn.red {
    background-color: #f65f6e;
    color: #ffffff !important; }
    .btn.red:hover, .btn.red:focus, .btn.red:active {
      background-color: #f54758;
      color: #ffffff !important; }
  .btn.gray {
    background-color: #f7f7f7;
    color: #82848f !important;
    border: 1px solid #eaeaea; }
    .btn.gray:hover, .btn.gray:focus, .btn.gray:active {
      background-color: #f2f2f2;
      color: #323032 !important;
      border: 1px solid #e5e5e5; }
  .btn.white {
    background-color: #ffffff;
    color: #82848f !important;
    border: 1px solid #eaeaea; }
    .btn.white:hover, .btn.white:focus, .btn.white:active {
      color: #323032 !important;
      border: 1px solid #d1d1d1; }
  .btn.blue-dark {
    background-color: #2283f6;
    color: #ffffff !important;
    box-shadow: 5px 8.7px 20px rgba(86, 86, 86, 0.5) !important; }
    .btn.blue-dark:hover, .btn.blue-dark:focus, .btn.blue-dark:active {
      background-color: #0a75f5;
      color: #ffffff !important;
      box-shadow: 5px 8.7px 20px rgba(86, 86, 86, 0.7) !important; }
  .btn.white-transparent {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #ffffff !important;
    border: 2px solid rgba(255, 255, 255, 0.3) !important; }
    .btn.white-transparent:hover, .btn.white-transparent:focus, .btn.white-transparent:active {
      background-color: rgba(255, 255, 255, 0.15) !important;
      color: #ffffff !important;
      border: 2px solid rgba(255, 255, 255, 0.7) !important; }
  .btn.transparent {
    background-color: transparent;
    color: #50b8e7 !important;
    border: 1px solid transparent; }
    .btn.transparent:hover, .btn.transparent:focus, .btn.transparent:active {
      color: #23a6e1 !important; }


.vcard-template .vcard-body {
  max-width: 480px;
  margin: 0 auto 0 auto;
  padding-bottom: 20px;
  z-index: 50; }
  .vcard-template .vcard-body .vcard-row {
    position: relative;
    padding: 20px 0 20px 65px; }
    .vcard-template .vcard-body .vcard-row i {
      position: absolute;
      top: 25px;
      left: 20px;
      font-size: 20px;
      color: #b3b4bb; }
    .vcard-template .vcard-body .vcard-row h1, .vcard-template .vcard-body .vcard-row h2, .vcard-template .vcard-body .vcard-row h3, .vcard-template .vcard-body .vcard-row h4, .vcard-template .vcard-body .vcard-row h5, .vcard-template .vcard-body .vcard-row h6 {
      line-height: 1.3;
      margin-bottom: 5px;
      color: #323032;
      font-weight: 400; }
    .vcard-template .vcard-body .vcard-row small {
      display: block;
      color: #82848f;
      font-size: 13px; }
    .vcard-template .vcard-body .vcard-row.poweredby {
      top: 90px;
      padding: 0px 0 0px 65px; }
  .vcard-template .vcard-body .vcard-separator {
    height: 1px;
    margin-left: 65px;
    background-color: #eaeaea; }

.vcard-template.style2 .vcard-header {
  position: relative;
  text-align: center; }
  @media (min-width: 690px) {
    .vcard-template.style2 .vcard-header {
      padding-top: 60px; } }
  @media (min-width: 690px) {
    .vcard-template.style2 .vcard-header .vcard-header-wrapper {
      width: 570px;
      margin: 0 auto;
      box-shadow: 0 -5px 40px 7px rgba(0, 0, 0, 0.08); } }
  .vcard-template.style2 .vcard-header .vcard-top-info {
    max-width: 480px;
    margin: 0 auto 0 auto; }
  .vcard-template.style2 .vcard-header .top {
    padding: 20px 0 20px 0;
    color: #ffffff;
    font-weight: 300;
    opacity: 0.8; }
  .vcard-template.style2 .vcard-header .img {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-position: center center !important;
    background-size: cover !important;
    margin: 10px auto 0 auto; }
  .vcard-template.style2 .vcard-header .name {
    padding: 20px 0 15px 0;
    color: #ffffff;
    font-weight: 400; }
  .vcard-template.style2 .vcard-header .title {
    padding: 0 0 25px 0;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.4;
    max-width: 170px;
    margin: 0 auto;
    opacity: 0.75;
    font-size: 13px; }
  .vcard-template.style2 .vcard-header .add-contact-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 150; }
    @media (min-width: 690px) {
      .vcard-template.style2 .vcard-header .add-contact-wrapper {
        display: none; } }
  .vcard-template.style2 .vcard-header .add-contact-btn {
    cursor: pointer;
    display: block;
    height: 56px;
    width: 56px;
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
    border-radius: 50%;
    color: #ffffff;
    box-shadow: 8px 14px 38px rgba(0, 0, 0, 0.07);
    opacity: 0.9;
    border: 1px solid transparent; }
    .vcard-template.style2 .vcard-header .add-contact-btn i {
      font-size: 30px; }
    .vcard-template.style2 .vcard-header .add-contact-btn:hover {
      box-shadow: 3px 6px 28px rgba(0, 0, 0, 0.2);
      opacity: 1; }
  .vcard-template.style2 .vcard-header .vcard-functions {
    display: block;
    width: 100%;
    text-align: center;
    height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.15); }
    .vcard-template.style2 .vcard-header .vcard-functions .vcard-functions-wrapper {
      display: table;
      margin: 0 auto;
      width: 300px;
      height: 56px;
      text-align: center; }
      @media (min-width: 690px) {
        .vcard-template.style2 .vcard-header .vcard-functions .vcard-functions-wrapper {
          width: 570px; } }
    .vcard-template.style2 .vcard-header .vcard-functions a {
      cursor: pointer;
      display: table-cell;
      color: #ffffff;
      padding: 10px 0;
      min-width: 100px;
      margin: 0;
      border-right: 1px solid rgba(255, 255, 255, 0.15); }
      .vcard-template.style2 .vcard-header .vcard-functions a.last-element {
        border-right: 0px; }
      @media (min-width: 690px) {
        .vcard-template.style2 .vcard-header .vcard-functions a {
          min-width: 190px; } }
      .vcard-template.style2 .vcard-header .vcard-functions a i {
        display: inline-block;
        font-size: 18px;
        margin-bottom: 8px; }
      .vcard-template.style2 .vcard-header .vcard-functions a small {
        display: block;
        text-transform: uppercase;
        font-size: 10px; }
      .vcard-template.style2 .vcard-header .vcard-functions a:hover {
        background-color: rgba(0, 0, 0, 0.1); }

@media (min-width: 690px) {
  .vcard-template.style2 .vcard-body-wrapper {
    width: 570px;
    margin: 0 auto;
    box-shadow: 0 -5px 40px 7px rgba(0, 0, 0, 0.08);
    margin-bottom: 60px; } }

.vcard-template.style2 .vcard-body {
  padding-top: 20px; }
  @media (min-width: 690px) {
    .vcard-template.style2 .vcard-body {
      padding-bottom: 40px; } }
  .vcard-template.style2 .vcard-body .btn.blue-dark {
    display: none;
    margin-top: 20px; }
    @media (min-width: 690px) {
      .vcard-template.style2 .vcard-body .btn.blue-dark {
        display: block; } }
